html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Navbar moderna */
.navbar {
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
}

    /* Links */
    .navbar .nav-link {
        color: #ffffff !important;
    }

        .navbar .nav-link:hover {
            color: #00c6ff !important;
        }

/* Botón */
.btn-primary {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    border: none;
}

/* Footer */
footer {
    font-size: 14px;
}
.navbar {
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
}

.navbar-brand {
    font-size: 1.4rem;
}
.card {
    border-radius: 15px;
    transition: transform 0.2s;
}

    .card:hover {
        transform: translateY(-5px);
    }

h1 span {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    color: transparent;
}

.navbar .container,
.navbar .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 25px; 
}

    
    .navbar-nav .nav-link {
        display: flex;
        align-items: center;
        white-space: nowrap; 
        font-size: 16px;
    }


.navbar .d-flex {
    display: flex;
    align-items: center;
    gap: 15px;
}
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    display: flex;
    flex: 1; /* 🔥 ESTO ES LO IMPORTANTE */
}

.footer {
    text-align: center;
    padding: 15px;
    color: #aaa;
}
.form-control {
    background: #0f172a;
    border: 1px solid #334155;
    color: white;
}

    .form-control:focus {
        background: #0f172a;
        color: white;
        border-color: #00c6ff;
        box-shadow: none;
    }