<form method="post">
    <input name="Titulo" placeholder="Título" class="form-control mb-2" />
    <input name="Descripcion" placeholder="Descripción" class="form-control mb-2" />
    <button class="btn btn-success">Guardar</button>
</form>