<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
    <h2>⚙️ Panel Admin</h2>

    <a href="/Admin/CrearCurso" class="btn btn-success">Crear Curso</a>
    <a href="/Admin/CrearVideo" class="btn btn-primary">Agregar Video</a>
</div